---
import AboutMe from '../components/AboutMe.astro';
import Header from '../components/Header.astro';
import ProfileImage from '../components/ProfileImage';
import SocialMediaLinks from '../components/SocialMediaLinks.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout>
  <main class='md:min-h-[calc(100vh-72px)] mx-auto flex justify-center'>
    <section class='p-8 flex flex-col items-center'>
      <Header />
      <div
        class='w-full flex flex-col gap-4 md:flex-row items-start pb-8 border-b md:border-none border-slate-300'
      >
        <ProfileImage client:only='react' />
        <SocialMediaLinks />
      </div>
      <AboutMe />
    </section>

    <!-- <AboutMe /> -->
  </main>
</Layout>
