---
import Header from '../components/Header.astro';
import ProfileImage from '../components/ProfileImage';
import SocialMediaLinks from '../components/SocialMediaLinks.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout>
  <main class='md:max-h-[calc(100vh-72px)] mx-auto flex justify-center'>
    <section class='p-8 flex flex-col items-center'>
      <Header />
      <ProfileImage client:only='react' />
      <SocialMediaLinks />
    </section>

    <!-- <AboutMe /> -->
  </main>
</Layout>
