<footer class='flex flex-col justify-center items-center py-4 bg-footer'>
  <p>&copy; copyright 2025</p>
  <p class='text-sm text-muted-foreground'>
    developed by loving husband: <a
      href='https://github.com/Ekernik'
      target='_blank'
      class='underline font-bold hover:text-primary-foreground transition-colors'
      >Ekernik</a
    >
  </p>
</footer>
