<header class='mb-4'>
  <h1>
    <span class='text-5xl font-bold text-primary-foreground'
      >Tatev<br /> Muradyan
    </span>
    <br />
    <span class='text-base font-normal text-muted-foreground'
      >Professional violinist
    </span>
  </h1>
</header>
