---
const { href, Icon, title, alt } = Astro.props;
---

<li class='flex-1 flex items-center'>
  <a
    href={href}
    class='p-2 w-full h-full inline-flex items-center gap-2 border border-slate-500 rounded-lg outline-offset-2 outline-slate-800 outline-4 hover:bg-white/50 transition-all'
    title={alt}
    itemprop='sameAs'
    target='_blank'
    >{
      typeof Icon === 'string' ? (
        <img
          src={Icon}
          alt=''
          height={52}
          width={52}
          class='grayscale-[100%]'
        />
      ) : (
        <Icon size='50' />
      )
    }
    {title}</a
  >
</li>
