---
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Tatev Muradyan</title>
  </head>
  <body class='bg-primary text-primary-foreground'>
    <slot />
    <Footer />
  </body>
</html>
