---
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='canonical'
      href='https://tateviolin.com'
    />
    <title>
      Tatev Muradyan – Professional Violinist | Classical, Contemporary &
      Orchestral Music
    </title>
    <meta
      name='description'
      content='Discover Tatev Muradyan, an accomplished violinist with international experience in classical, orchestral, and modern music. Explore her performances with leading ensembles, prestigious venues, and her ongoing contributions to the American music scene.'
    />
    <meta
      name='keywords'
      content='Tatev Muradyan, Violinist, Professional violinist, Classical music violinist, Orchestral music performer, Violinist in the United States, Violinist for hire, International violinist, Classical and contemporary music, Mariinsky Theatre violinist, Concertmaster Chicago, Britten-Shostakovich Orchestra, Violin performances in London, Violinist collaborations, Modern violinist'
    />
    <script
      defer
      src='https://umami.ekernik.dev/script.js'
      data-website-id='5373b7bb-9678-4461-ad0b-5855c747b396'
    ></script>
  </head>
  <body class='bg-primary text-primary-foreground max-h-screen'>
    <slot />
    <Footer />
  </body>
</html>
